// .breadcrump {
//     border-color: rgba(248, 243, 244, 1);
//     padding-top: 60px;
//     padding-bottom: 60px;

//     &__title {
//         color: black;
//         font-size: 24px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: normal;
//     }
// }

.cart {
    padding-top: 96px;
    padding-bottom: 128px;
    display: flex;
    justify-content: space-between;
}

.cart_left-side {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.cart-item {

    width: 652px;
    height: 306px;
    display: flex;
    align-items: flex-start;
    gap: 31px;
    // margin: 40px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    background: #fff;

    &:hover {
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    }

    &__content {
        padding-top: 22px;
        font-style: normal;
        font-size: 22px;
        line-height: 26px;
        color: $cartColorText;
    }

    &__name {
        display: block;
        padding-bottom: 42px;
        color: #222;
        font-size: 24px;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__flex {
        display: flex;
    }

    &__text {
        color: $cartColorText;
        font-size: 22px;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &_price {
            color: $productColorPink;
        }

        &_quantity {
            gap: 24px;
        }

        &_quantity-input {
            width: 44px;
            height: 25px;
            border: 1px solid #EAEAEA;
            text-align: center;
            font-size: 18px;
            line-height: 22px;
            color: #656565;
        }
    }

    &__close {
        padding-top: 28px;
        padding-left: 57px;
        padding-right: 22px;
    }
}

.cart-btn {
    padding-top: 72px;
    display: flex;
    gap: 92px;

    &__item {
        text-align: center;

        &_text {
            display: flex;
            border: 1px solid #A4A4A4;
            color: $siteColorBlack;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-decoration: none;
            padding: 17px 41px 16px 39px;

            &:hover {
                color: #FFF;
                background-color: #A4A4A4;
            }
        }
    }
}

.shipping-address {
    padding-bottom: 57px;
    display: flex;
    flex-direction: column;
    gap: 21px;

    &__name {
        color: #222;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__form {
        padding-left: 16px;
        width: 360px;
        height: 45px;
        color: #222;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        box-sizing: border-box;
    }

    &__btn {
        text-align: center;

        &_text {
            width: 72px;
            display: flex;
            border: 1px solid #A4A4A4;
            color: #4A4A4A;
            font-family: Lato;
            font-size: 11px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-decoration: none;
            padding: 10px 14px 12px 15px;

            &:hover {
                background-color:#4A4A4A;
                color: #FFF;
            }
        }
    }
}

.checkout {
    padding: 39px 42px 42px 44px;
    width: 360px;
    height: 214px;
    box-sizing: border-box;
    background-color: #F5F3F3;

    &__sub-total {
        padding-left: 160px;
        padding-bottom: 12px;
        display: flex;
        justify-content: space-between;
        color: #4A4A4A;
        font-family: Lato;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__grand-total {
        padding-left: 100px;
        padding-bottom: 21px;
        display: flex;
        justify-content: space-between;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        line-height: normal;

        &_text {
            color: #222;
            font-weight: 300;
        }

        &_amount {
            color: #F16D7F;
            font-weight: 700;
        }
    }

    &__border {
        border-bottom: 1px solid #E2E2E2;
        margin-bottom: 17px;
        margin-left: calc(50% - 137px);
        margin-right: calc(50% - 137px);
    }

    &__btn {
        padding-top: 17px;

        &_text {
            color: #FFF;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            background-color: #F16D7F;
            text-decoration: none;
            padding: 15px 43px 16px 38px;

            &:hover {
                color: #F16D7F;
                background-color: #FFF;
                border: 1px solid #F16D7F;
            }
        }
    }
}

// display: flex;
// border: 1px solid #A4A4A4;
// color: $siteColorBlack;
// font-size: 14px;
// font-style: normal;
// font-weight: 300;
// line-height: normal;
// text-decoration: none;
// padding: 17px 41px 16px 39px;