/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1160px) and (min-width: 768px) {

    .center {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .promo {

        &__heading {
            margin-left: 39px;
            font-size: 44px;
            line-height: 52.8px;
        }

        &__heading_bottom {
            font-size: 24px;
            line-height: 28.8px;
        }
    }

    .menu {
        -ms-grid-columns: 232.11px 19.4px 232.11px 19.4px 232.11px;
        grid-template-columns: repeat(3, 232.11px);
        -ms-grid-rows: 167.62px 19.4px 116.04px;
        grid-template-rows: 167.62px 116.04px;
        gap: 19.4px;
    }

    .store {
        padding-top: 109.92px;

        &__header {
            padding-bottom: 3.3px;

            &_info {
                padding-bottom: 72.74px;
            }
        }

        &__products {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 360px 16px 360px;
            grid-template-columns: repeat(2, 360px);
            gap: 16px;
        }
    }

    .product_description {
        padding-top: 12.65px;
        padding-bottom: 18px;
    }

    .product_price {
        padding-bottom: 20px;
        padding-left: 18.41px;
    }

    .view_all_products {
        padding-top: 47.48px;
        padding-bottom: 78.52px;
    }

    .feature {
        padding-top: 48.16px;
        padding-bottom: 64px;
        -ms-grid-columns: 360px;
        grid-template-columns: repeat(1, 360px);
        gap: 48.42px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .address {

        &__content {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: (100%);
            grid-template-columns: repeat(1, 100%);
            justify-items: center;
            background: rgba(244, 244, 244, 0.7);

            &_left {
                padding-top: 64px;
                padding-bottom: 48px;
            }

            &_right {
                padding-top: 0;
                padding-bottom: 140px;
            }
        }
    }

    .subscribe {

        &__text {
            margin-bottom: 27px;
        }
    }

    .filter_sort {
        justify-content: space-between;
    }

    .cart {
        padding-top: 59px;

        &__left-side {
            padding-bottom: 64px;
        }
    }

    .cart-item {
        width: 734px;
    }

    .cart-btn {
        justify-content: center;
        padding-top: 62px;
        padding-bottom: 64px;
    }

    .cart-right-side {
        display: flex;
        gap: 15px;
    }
}

.registration {
    padding-top: 40px;
    gap: 22px;
}


@media (max-width: 767px) and (min-width: 320px) {

    .center {
        padding-left: calc(50% - 171.5px);
        padding-right: calc(50% - 171.5px);
    }

    .account_icon {
        display: none;
    }

    .store_icon {
        display: none;
    }

    .promo {
        min-height: 375px;

        & img {
            display: none;
        }

        &__heading {
            width: initial;
            font-size: 38px;
            line-height: 45.6px;
            padding-left: 15px;
            margin-left: 0px;

            &_bottom {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    .menu {
        padding-top: 64px;
        -ms-grid-columns: 343px;
        grid-template-columns: repeat(1, 343px);
        -ms-grid-rows: 248px 32px 248px 32px 248px 32px 111px;
        grid-template-rows: repeat(3, 248px) 111px;
        gap: 32px;

        &__category_accessories {
            background-image: url(/img/menu_item_5.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
        }
    }

    .accessories {
        -ms-grid-row-span: 1;
        grid-row: span 1;
        -ms-grid-column-span: 1;
        grid-column: span 1;
    }

    .store {
        padding-top: 64px;

        &__header {
            padding-bottom: 3.3px;

            &_info {
                padding-bottom: 64.7px;
            }
        }

        &__products {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 359px;
            grid-template-columns: repeat(1, 359px);
            gap: 16.61px;
        }
    }

    .product_description {
        padding-top: 12.65px;
        padding-bottom: 18px;
    }

    .product_price {
        padding-bottom: 20px;
    }

    .view_all_products {
        padding-top: 55.61px;
        padding-bottom: 110px;
    }

    .feature {
        padding-top: 48px;
        padding-bottom: 81px;
        -ms-grid-columns: 347.82px;
        grid-template-columns: repeat(1, 347.82px);
        gap: 46.78px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .address {

        &__content {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: (343px);
            grid-template-columns: repeat(1, 343px);
            justify-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background: rgba(244, 244, 244, 0.7);

            &_left {
                padding-top: 64px;
                padding-bottom: 59px;
            }

            &_right {
                padding-top: 0;
                padding-bottom: 110px;
            }
        }

    }

    .subscribe {

        &__text {
            margin-bottom: 22px;
            margin-left: 0;
            font-size: 14px;
            line-height: 21.45px;
        }
    }

    .contact_info {
        font-size: 18px;
        line-height: 22px;
    }

    .footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 143px;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .product_top-head {
        padding-top: 24px;
        padding-bottom: 46px;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
    }

    .filter {
        &__head {
            display: none;
        }

        &__summary svg {
            width: 37.5px;
            height: 25px;
        }
    }

    .sort {
        &__heading {
            font-size: 12px;
            line-height: normal;
        }
    }

    .product_carousel {

        &__img {
            width: 374px;
            height: 454px;
        } 
    }

    .product_card {

        &__name {
            margin-bottom: 32px;
        }

        &__dsc {
            padding-left: calc(50% - 171.5px);
            padding-right: calc(50% - 171.5px);
        }

        &__price {
            padding-bottom: 32px;
        }

        &__bottom_line {
            margin-left: calc(50% - 87px);
            margin-right: calc(50% - 87px);
            margin-bottom: 49px;
        }

        &__prm_flex {
            padding-bottom: 64px;
        }
    }

    .store {

        &__product {
            padding-top: 64px;
            padding-bottom: 64px;
        }
    }

    .shopping-cart {
        padding-top: 59px;
        padding-bottom: 69px;
    }

    .cart-information {
        padding-top: 39px;
    }

    .cart-left-side {
        gap: 32px;
    }

    .cart-item {
        width: 358px;
        // height: 188px;
    }

    .registration-header {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .registration {
        flex-wrap: wrap;
    }

    .registration_right-side {
        padding-top: 40px;
    }
}