/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@media (max-width: 1160px) and (min-width: 768px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .promo__heading {
    margin-left: 39px;
    font-size: 44px;
    line-height: 52.8px;
  }
  .promo__heading_bottom {
    font-size: 24px;
    line-height: 28.8px;
  }
  .menu {
    grid-template-columns: repeat(3, 232.11px);
    grid-template-rows: 167.62px 116.04px;
    gap: 19.4px;
  }
  .store {
    padding-top: 109.92px;
  }
  .store__header {
    padding-bottom: 3.3px;
  }
  .store__header_info {
    padding-bottom: 72.74px;
  }
  .store__products {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
  }
  .product_description {
    padding-top: 12.65px;
    padding-bottom: 18px;
  }
  .product_price {
    padding-bottom: 20px;
    padding-left: 18.41px;
  }
  .view_all_products {
    padding-top: 47.48px;
    padding-bottom: 78.52px;
  }
  .feature {
    padding-top: 48.16px;
    padding-bottom: 64px;
    grid-template-columns: repeat(1, 360px);
    gap: 48.42px;
    justify-content: center;
  }
  .address__content {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-items: center;
    background: rgba(244, 244, 244, 0.7);
  }
  .address__content_left {
    padding-top: 64px;
    padding-bottom: 48px;
  }
  .address__content_right {
    padding-top: 0;
    padding-bottom: 140px;
  }
  .subscribe__text {
    margin-bottom: 27px;
  }
  .filter_sort {
    justify-content: space-between;
  }
  .cart {
    padding-top: 59px;
  }
  .cart__left-side {
    padding-bottom: 64px;
  }
  .cart-item {
    width: 734px;
  }
  .cart-btn {
    justify-content: center;
    padding-top: 62px;
    padding-bottom: 64px;
  }
  .cart-right-side {
    display: flex;
    gap: 15px;
  }
}
.registration {
  padding-top: 40px;
  gap: 22px;
}

@media (max-width: 767px) and (min-width: 320px) {
  .center {
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
  }
  .account_icon {
    display: none;
  }
  .store_icon {
    display: none;
  }
  .promo {
    min-height: 375px;
  }
  .promo img {
    display: none;
  }
  .promo__heading {
    width: initial;
    font-size: 38px;
    line-height: 45.6px;
    padding-left: 15px;
    margin-left: 0px;
  }
  .promo__heading_bottom {
    font-size: 20px;
    line-height: 24px;
  }
  .menu {
    padding-top: 64px;
    grid-template-columns: repeat(1, 343px);
    grid-template-rows: repeat(3, 248px) 111px;
    gap: 32px;
  }
  .menu__category_accessories {
    background-image: url(/img/menu_item_5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .accessories {
    -ms-grid-row-span: 1;
    grid-row: span 1;
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  .store {
    padding-top: 64px;
  }
  .store__header {
    padding-bottom: 3.3px;
  }
  .store__header_info {
    padding-bottom: 64.7px;
  }
  .store__products {
    display: grid;
    grid-template-columns: repeat(1, 359px);
    gap: 16.61px;
  }
  .product_description {
    padding-top: 12.65px;
    padding-bottom: 18px;
  }
  .product_price {
    padding-bottom: 20px;
  }
  .view_all_products {
    padding-top: 55.61px;
    padding-bottom: 110px;
  }
  .feature {
    padding-top: 48px;
    padding-bottom: 81px;
    grid-template-columns: repeat(1, 347.82px);
    gap: 46.78px;
    justify-content: center;
  }
  .address__content {
    display: grid;
    grid-template-columns: repeat(1, 343px);
    justify-items: center;
    justify-content: center;
    background: rgba(244, 244, 244, 0.7);
  }
  .address__content_left {
    padding-top: 64px;
    padding-bottom: 59px;
  }
  .address__content_right {
    padding-top: 0;
    padding-bottom: 110px;
  }
  .subscribe__text {
    margin-bottom: 22px;
    margin-left: 0;
    font-size: 14px;
    line-height: 21.45px;
  }
  .contact_info {
    font-size: 18px;
    line-height: 22px;
  }
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    min-height: 143px;
    justify-content: space-evenly;
  }
  .product_top-head {
    padding-top: 24px;
    padding-bottom: 46px;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }
  .filter__head {
    display: none;
  }
  .filter__summary svg {
    width: 37.5px;
    height: 25px;
  }
  .sort__heading {
    font-size: 12px;
    line-height: normal;
  }
  .product_carousel__img {
    width: 374px;
    height: 454px;
  }
  .product_card__name {
    margin-bottom: 32px;
  }
  .product_card__dsc {
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
  }
  .product_card__price {
    padding-bottom: 32px;
  }
  .product_card__bottom_line {
    margin-left: calc(50% - 87px);
    margin-right: calc(50% - 87px);
    margin-bottom: 49px;
  }
  .product_card__prm_flex {
    padding-bottom: 64px;
  }
  .store__product {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .shopping-cart {
    padding-top: 59px;
    padding-bottom: 69px;
  }
  .cart-information {
    padding-top: 39px;
  }
  .cart-left-side {
    gap: 32px;
  }
  .cart-item {
    width: 358px;
  }
  .registration-header {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .registration {
    flex-wrap: wrap;
  }
  .registration_right-side {
    padding-top: 40px;
  }
}/*# sourceMappingURL=media.css.map */