/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.top {
  overflow: hidden;
  position: relative;
}

.header {
  background: #222222;
  display: flex;
  justify-content: space-between;
  min-height: 75px;
}
.header__left {
  display: flex;
  gap: 41px;
  align-items: center;
}
.header__left svg {
  align-items: baseline;
}
.header__left svg:hover {
  filter: contrast(10%);
}
.header__left svg:active path {
  fill: #F16D7F;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header__right svg:hover {
  filter: contrast(10%);
}

.burger_menu {
  margin-right: 17px;
}

#burger {
  position: absolute;
  left: -9999999px;
  visibility: hidden;
}

#burger:checked ~ .details_menu_box {
  right: 150px;
}

.details_menu_box {
  background: #FFFFFF;
  padding: 32px;
  width: 232px;
  position: absolute;
  top: 75px;
  right: -232px;
  transition: right 0.6s;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-sizing: border-box;
  z-index: 1;
}
.details_menu_box__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.details_item {
  padding-top: 24px;
}
.details_item__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.details_item__text:hover {
  color: #6F6E6E;
}
.details_item__list {
  padding-top: 20px;
  padding-left: 22px;
  list-style-type: none;
}
.details_item__list_text {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.details_item__list_text:hover {
  color: #F16D7F;
}

.promo {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background: #F1E4E6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo__heading {
  width: 50%;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-left: 63px;
  text-align: left;
}
.promo__heading_bottom {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
.promo__heading_bottom_pink {
  color: #F16D7F;
}

.promo img {
  width: 50%;
}

.menu {
  padding-top: 65px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 260px 180px;
  gap: 30px;
}
.menu__link {
  display: block;
}
.menu__category_women {
  background-image: url(/img/menu_item_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.menu__category_men {
  background-image: url(/img/menu_item_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.menu__category_kids {
  background-image: url(/img/menu_item_3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.menu__category_accessories {
  background-image: url(/img/menu_item_4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.menu__text {
  background: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__category_textnews {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.menu__category_maintext {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.accessories {
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.store {
  padding-top: 96px;
}
.store__header {
  padding-bottom: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}
.store__header_info {
  padding-bottom: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}
.store__products {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
}
.store__card {
  background: #F8F8F8;
  transition: all 0.3s;
}
.store__card:hover {
  filter: drop-shadow(0 4px 4px rgba(58, 56, 56, 0.86));
}
.store__card:hover .hover_card {
  display: flex;
  animation: bg-change 0.3s ease-in-out both;
}
.store__card_text {
  padding-top: 25px;
}

.change_card {
  position: relative;
}

.hover_card {
  /* background: rgba(58, 56, 56, 0.86); */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: none;
}
@keyframes bg-change {
  0% {
    background: rgba(58, 56, 56, 0);
  }
  15% {
    background: rgba(58, 56, 56, 0.12);
  }
  25% {
    background: rgba(58, 56, 56, 0.24);
  }
  35% {
    background: rgba(58, 56, 56, 0.36);
  }
  45% {
    background: rgba(58, 56, 56, 0.46);
  }
  60% {
    background: rgba(58, 56, 56, 0.56);
  }
  80% {
    background: rgba(58, 56, 56, 0.66);
  }
  90% {
    background: rgba(58, 56, 56, 0.76);
  }
  100% {
    background: rgba(58, 56, 56, 0.86);
  }
}
.hover_button_card {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hover_button_card svg path {
  transition: all 0.3s;
}
.hover_button_card:hover svg path {
  fill: #F26376;
}
.hover_button_card:hover {
  box-shadow: 0 0 5px #fff;
  color: #F26376;
}
.hover_button_card__text {
  width: 138px;
  height: 43px;
  display: flex;
  gap: 11.04px;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.product_name {
  padding-left: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product_description {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16.46px;
  padding-right: 28.8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product_price {
  padding-bottom: 19px;
  padding-left: 18.41px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.view_all_products {
  text-align: center;
  padding-top: 63px;
  padding-bottom: 109px;
}

.all_products_btn {
  border: 1px solid #FF6A6A;
  padding: 14.5px 38.5px 13.5px;
  background: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.all_products_btn:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.feature {
  background-color: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  text-align: center;
  align-items: end;
}
.feature__icon:hover path {
  fill: #FBFBFB;
}
.feature__icon {
  transition: all 0.3s;
}
.feature__name {
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 24px;
}
.feature__description {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  padding-top: 16px;
}

.address {
  background-image: url(/img/address_backgroung.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.address__content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background: rgba(244, 244, 244, 0.7);
}
.address__content_left {
  padding-top: 97px;
  padding-bottom: 126px;
  text-align: center;
}
.address__content_right {
  padding-top: 150px;
  padding-bottom: 156px;
}

.contact_info {
  padding-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}
.contact_info__italic {
  font-style: italic;
}

.subscribe {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 37.73px;
  color: #222224;
  text-align: center;
}
.subscribe__text {
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30.1px;
  color: #222224;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}
.form input {
  padding-left: 22px;
  padding-right: 22px;
  text-align: left;
  outline: none;
}
.form input:focus {
  box-shadow: 0 0 5px #F16D7F;
}
.form__text {
  width: 256px;
  height: 49px;
  background: #E1E1E1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  border: none;
  border-radius: 25px 0 0 25px;
}

::-moz-placeholder {
  line-height: 49px;
}

::placeholder {
  line-height: 49px;
}

.button_text {
  padding: 7px 7px 6px 8px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #F16D7F;
  border: none;
  border-radius: 0 25px 25px 0;
}

.button_text:hover {
  background: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.footer {
  min-height: 79px;
  background: #222224;
  display: flex;
  justify-content: space-between;
  gap: 7.25px;
  align-items: center;
}
.footer__rights {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__icons {
  display: flex;
  gap: 7px;
}
.footer__icon {
  width: 31.45px;
  height: 32px;
  background: #FFFFFF;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__icon:hover {
  background-color: #F16D7F;
}
.footer__icon:hover path {
  fill: #FFFFFF;
}

.product_top-head {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_top-head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.product_breadcrumbs__ul {
  list-style-type: none;
  display: flex;
}
.product_breadcrumbs__a {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.product_breadcrumbs__a:hover {
  font-weight: 700;
}
.product_breadcrumbs__li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
}
.product_breadcrumbs__li:last-child .product_breadcrumbs__a {
  font-weight: 700;
  color: #EF5B70;
}

.product_carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 777px;
  background-color: #F7F7F7;
}
.product_carousel__btn {
  background-color: rgba(42, 42, 42, 0.1490196078);
  border: none;
}
.product_carousel__btn:active svg path {
  fill: #F16D7F;
}

.product_card {
  padding-top: 65px;
  padding-bottom: 65px;
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
  text-align: center;
  outline: 1px solid #EAEAEA;
  background-color: #FFFFFF;
  transform: translate(0, -55px);
  margin-bottom: -55px;
}
.product_card__category {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product_card__line {
  display: block;
  border-bottom: 3px solid #EF5B70;
  margin-bottom: 12px;
  margin-left: calc(50% - 32px);
  margin-right: calc(50% - 32px);
}
.product_card__name {
  margin-bottom: 48px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}
.product_card__dsc {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  padding-left: calc(50% - 278px);
  padding-right: calc(50% - 278px);
  padding-bottom: 32px;
}
.product_card__price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  padding-bottom: 64px;
}
.product_card__bottom_line {
  display: block;
  border-bottom: 1px solid #EAEAEA;
  margin-left: calc(50% - 320px);
  margin-right: calc(50% - 320px);
  margin-bottom: 65px;
}
.product_card__prm {
  display: flex;
  gap: 23px;
  justify-content: center;
}
.product_card__prm_flex {
  display: flex;
  gap: 9px;
  padding-bottom: 49px;
}
.product_card__prm_name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.product_card__btn {
  display: flex;
  justify-content: center;
}
.product_card__btn_item {
  border: 1px solid #FF6A6A;
  display: flex;
  align-items: center;
  gap: 23px;
  text-decoration: none;
  padding: 14px 56px 14px 23px;
}
.product_card__btn_item:hover {
  background-color: #EF5B70;
}
.product_card__btn_item:hover svg path {
  fill: #EAEAEA;
}
.product_card__btn_item:hover .product_card__btn_text {
  color: #EAEAEA;
}
.product_card__btn_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.store__product {
  padding-top: 128px;
  padding-bottom: 128px;
}

.store__catalog {
  padding-bottom: 48px;
}

.filter_sort {
  height: 132px;
  padding-top: 39px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: 30px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__head {
  color: #EF5B70;
}
.filter[open] path {
  fill: #EF5B70;
}
.filter[open] .filter__summary {
  padding-left: 16px;
}
.filter__item[open] .filter__heading {
  color: #EF5B70;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter__head {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.filter__content {
  background-color: #FFFFFF;
  padding: 0 16px 16px;
}
.filter__item {
  margin-top: 16px;
}
.filter__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #EF5B70;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #EF5B70;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sort__details {
  position: relative;
  z-index: 1;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  left: -9px;
  top: 20px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.catalog_scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17.5px;
  margin: 0 auto 96px;
  min-height: 43px;
  max-width: 283px;
  border: 1px solid #EBEBEB;
}
.catalog_scroll__ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17.5px;
}
.catalog_scroll__a {
  color: #C4C4C4;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.catalog_scroll__li:first-child .catalog_scroll__a {
  color: #EF5B70;
}
.catalog_scroll__li:last-child::before {
  content: ".....";
  color: #C4C4C4;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.cart-information {
  padding-top: 96px;
  padding-bottom: 128px;
}

.cart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cart_left-side {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.cart-item {
  width: 652px;
  height: 306px;
  display: flex;
  align-items: flex-start;
  gap: 31px;
  box-sizing: border-box;
  border: 1px solid #EAEAEA;
  background: #fff;
}
.cart-item:hover {
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.cart-item__content {
  padding-top: 22px;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.cart-item__name {
  display: block;
  padding-bottom: 42px;
  color: #222;
  font-size: 24px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart-item__flex {
  display: flex;
}
.cart-item__text {
  color: #575757;
  font-size: 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart-item__text_price {
  color: #EF5B70;
}
.cart-item__text_quantity {
  gap: 24px;
}
.cart-item__text_quantity-input {
  width: 44px;
  height: 25px;
  border: 1px solid #EAEAEA;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}
.cart-item__close {
  padding-top: 28px;
  padding-left: 57px;
  padding-right: 22px;
}

.cart-btn {
  padding-top: 72px;
  display: flex;
  gap: 92px;
}
.cart-btn__item {
  text-align: center;
}
.cart-btn__item_text {
  display: flex;
  border: 1px solid #A4A4A4;
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  padding: 17px 41px 16px 39px;
}
.cart-btn__item_text:hover {
  color: #FFF;
  background-color: #A4A4A4;
}

.shipping-address {
  padding-bottom: 57px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.shipping-address__name {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.shipping-address__form {
  padding-left: 16px;
  width: 360px;
  height: 45px;
  color: #222;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  box-sizing: border-box;
}
.shipping-address__btn {
  text-align: center;
}
.shipping-address__btn_text {
  width: 72px;
  display: flex;
  border: 1px solid #A4A4A4;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  padding: 10px 14px 12px 15px;
}
.shipping-address__btn_text:hover {
  background-color: #4A4A4A;
  color: #FFF;
}

.checkout {
  padding: 39px 42px 42px 44px;
  width: 360px;
  height: 214px;
  box-sizing: border-box;
  background-color: #F5F3F3;
}
.checkout__sub-total {
  padding-left: 160px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.checkout__grand-total {
  padding-left: 100px;
  padding-bottom: 21px;
  display: flex;
  justify-content: space-between;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}
.checkout__grand-total_text {
  color: #222;
  font-weight: 300;
}
.checkout__grand-total_amount {
  color: #F16D7F;
  font-weight: 700;
}
.checkout__border {
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 17px;
  margin-left: calc(50% - 137px);
  margin-right: calc(50% - 137px);
}
.checkout__btn {
  padding-top: 17px;
}
.checkout__btn_text {
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: #F16D7F;
  text-decoration: none;
  padding: 15px 43px 16px 38px;
}
.checkout__btn_text:hover {
  color: #F16D7F;
  background-color: #FFF;
  border: 1px solid #F16D7F;
}

.registration {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  justify-content: space-between;
}

.registration-card {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.registration-card__name {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration-card__form {
  padding-left: 16px;
  width: 360px;
  height: 45px;
  color: #B1B1B1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  box-sizing: border-box;
}
.registration-card__label {
  padding-top: 10px;
  padding-bottom: 12px;
  display: flex;
  gap: 20px;
  color: #000000;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration-card__instruction {
  padding-top: 16px;
  padding-bottom: 39px;
  color: #B1B1B1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration-card__btn_text {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 167px;
  height: 50px;
  box-sizing: border-box;
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  background-color: #F16D7F;
  padding: 16px 28px;
}
.registration-card__btn_text:hover {
  color: #F16D7F;
  background-color: #FFF;
  border: 1px solid #F16D7F;
}
.registration-card__btn_text:hover svg path {
  fill: #F16D7F;
}
.registration-card__description_list {
  list-style: none;
}
.registration-card__description_list::before {
  content: url("../img/registration_list.svg");
  margin-right: 23px;
}

.registration_right-side {
  display: flex;
  flex-direction: column;
  gap: 21px;
  color: #000000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */